@import url(
  https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,
  300,
  400,
  600,
  700|Oswald:400,
  300,
  700
);
@import url('https://fonts.googleapis.com/css?family=Vollkorn&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* Home Page */
@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  80% {
    opacity: 0.8;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

header {
  height: 90vh;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.363),
      rgba(0, 0, 0, 0.568)
    ),
    url('../images/header1.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  position: relative;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
  color: rgb(255, 255, 255);
  overflow: hidden;
}
.header-text-section {
  animation-name: moveInUp;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

@media screen and (max-width: 2560px) {
  .header-text-section {
    top: 30%;
    left: 7%;
    position: absolute;
  }
}
@media screen and (max-width: 1030px) {
  .header-text-section {
    top: 25%;
    left: 3%;
    position: absolute;
  }
}

@media screen and (max-width: 970px) {
  .header-text-section {
    top: 20%;
    left: 3%;
    position: absolute;
  }
}

.header-text {
  letter-spacing: 5px;
  font-weight: 400;
}

.header-text-main {
  font-weight: 700;
}

.intro-section {
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.473);
  padding: 30px;
  margin-top: -50px;
  background-image: linear-gradient(
      to right,
      rgba(219, 219, 219, 0.815),
      rgba(255, 255, 255, 0.527)
    ),
    url('../images/undraw_festivities_tvvj.png');
  background-position: center;
  background-size: cover;
  font-family: 'Oswald', sans-serif;
}

@media screen and (max-width: 970px) {
  .header-text {
    font-size: large;
  }
  .second-counter {
    visibility: hidden;
  }
}

@media screen and (max-width: 1030px) {
  .second-counter {
    visibility: hidden;
  }
}

.nav-item {
  padding: 10px;
  font-size: large;
}

.fa-facebook-square {
  color: blue;
  padding-right: 20px;
}

.fa-instagram {
  color: rgb(212, 33, 174);
}
.index-hr {
  margin-left: 45%;
  border: 1px solid rgba(0, 0, 0, 0.616);
}
.event-section {
  padding-bottom: 100px;
}
.event-section-header {
  color: black;
  margin-top: 100px;
}

.card-body {
  text-align: center;
}

.card {
  transition: all 0.5s;
}

.card:hover {
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.308);
}

h1 {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1.5px;
  color: #ffffff;
  font-weight: 100;
  font-size: 2.4em;
}
.intro-section-text-main {
  color: black;
}
#timeline-section {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  background: #252827;
  font-size: 16px;
}

.timeline {
  border-left: 4px solid #4298c3;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  background: rgba(255, 255, 255, 0.03);
  color: rgba(255, 255, 255, 0.8);
  font-family: 'Source Sans Pro', sans-serif;
  margin: 50px auto;
  letter-spacing: 0.5px;
  position: relative;
  line-height: 1.4em;
  font-size: 1.03em;
  padding: 50px;
  list-style: none;
  text-align: left;
  font-weight: 100;
  max-width: 30%;
}

@media screen and (max-width: 720px) {
  .timeline {
    max-width: 80%;
  }
}

.timeline h1,
.timeline h2,
.timeline h3 {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1.5px;
  font-weight: 100;
  font-size: 1.4em;
}
.timeline .event {
  border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
  padding-bottom: 25px;
  margin-bottom: 50px;
  position: relative;
}
.timeline .event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}
.timeline .event:before,
.timeline .event:after {
  position: absolute;
  display: block;
  top: 0;
}
.timeline .event:before {
  left: -217.5px;
  color: rgba(255, 255, 255, 0.4);
  content: attr(data-date);
  text-align: right;
  font-weight: 100;
  font-size: 0.9em;
  min-width: 120px;
}
.timeline .event:after {
  box-shadow: 0 0 0 4px #3272c5;
  left: -57.85px;
  background: #313534;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: '';
  top: 5px;
}

.countdown-text {
  background-color: #3272c5;
  padding: 2px 4px;
  font-size: 13px;
  border-radius: 5px;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  letter-spacing: 4px;
}

#clockdiv,
#clockdiv1 {
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
  padding: 40px;
}

#clockdiv > div,
#clockdiv1 > div {
  padding: 10px;
  border-radius: 3px;
  background: rgba(33, 34, 36, 0.89);
  display: inline-block;
}

#clockdiv div > span,
#clockdiv1 div > span {
  padding: 10px;
  border-radius: 3px;
  background: #2c2f2e;
  display: inline-block;
}

.smalltext,
.smalltext1 {
  padding-top: 5px;
  font-size: 16px;
}

/* Contact Us */

.contact-section {
  height: 65vh;
  padding-top: 100px;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 8px;
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.616),
      rgba(255, 255, 255, 0.445)
    ),
    url('../images/contact_us.png');
  background-size: cover;
  background-position: center;
  word-wrap: break-word;
}
@media screen and (max-width: 970px) {
  .contact-text-sub {
    font-size: large;
  }
  .contact-number {
    display: block;
  }

  .timeline-time {
    visibility: visible;
  }
}
@media screen and (min-width: 970px) {
  .timeline-time {
    visibility: hidden;
  }
}

.contact-text-main {
  font-weight: 600;
}

/* Register */

.header-section-register {
  height: 60vh;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.534),
      rgba(0, 0, 0, 0.514)
    ),
    url('../images/register.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  position: relative;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
  color: rgb(255, 255, 255);
  z-index: -1;
}

.header-register-text-section {
  position: absolute;
}

.form {
  box-shadow: 4px 10px 20px rgba(0, 0, 0, 0.363);
  padding: 50px;
  margin-top: -150px;
  background-color: white;
  border-radius: 15px;
}

.form-row {
  margin: 25px 0px;
}

@media screen and (max-width: 2560px) {
  .header-register-text-section {
    top: 40%;
    left: 45%;
    position: absolute;
  }
}
@media screen and (max-width: 1030px) {
  .header-register-text-section {
    top: 35%;
    left: 30%;
    position: absolute;
  }
}

@media screen and (max-width: 970px) {
  .header-register-text-section {
    top: 35%;
    left: 25%;
    position: absolute;
  }
}

.form-section {
  padding-top: 80px;
  padding-bottom: 80px;
  font-family: 'Vollkorn', serif;
}

.payment-method {
  padding: 20px;
}
